<div class="bg-primary font-weight-light">
  <div class="container-fluid py-4">
    <div class="row py-3 mx-5">
      <div class="col-12 col-sm-6 col-lg-4 mt-3">
        <a class="text-white" routerLink="/about" routerLinkActive="active">About us</a>
        <br>
        <a class="text-white" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        <br>
        <a class="text-white" routerLink="/privacy-policy" routerLinkActive="active">Terms & Conditions</a>
        <br>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 mt-3">
        <a class="text-white" routerLink="/" routerLinkActive="active"> i Facebook</a><br>
        <a class="text-white" routerLink="/" routerLinkActive="active"> i Twitter</a><br>
        <a class="text-white" routerLink="/" routerLinkActive="active"> i Instagram</a><br>
      </div>

    <!--  <div class="col-12 col-sm-6 col-lg-4 mt-3">
        <span class="text-white">Subscribe to our newsletter</span>
        <div>
          <form class="form-inline my-2 my-lg-0" [formGroup]="subscribeForm">
            <input class="form-control mr-sm-2 mr-0"
                   formControlName="email"
                   type="email"
                   placeholder="Email"
                   aria-label="Search">
            <button class="btn btn-outline-light my-2 my-lg-2 my-xl-0 ml-0" type="button">
              Subscribe
            </button>
          </form>
        </div>
      </div>-->

      <div class="col-12 col-sm-12 col-lg-4 mt-2">
        <a class="text-white" routerLink="/about" routerLinkActive="active">
          497 Evergreen Rd. Roseville, CA 95673 <br>
          +44 345 678 903 <br>
          AFE@mail.com <br>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid py-2" style="background: #09213A">
    <div class="row text-white justify-content-center">
      <div class="col-auto"> © AFE 2018</div>
    </div>
  </div>
</div>
