<section class="container">
  <h1 class="my-5 text-center">About us</h1>
</section>

<section class="container mb-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="px-5 py-3">
       <h2 class="font-weight-bold">Universal marketplace of financial products</h2>
        <br>
        <p class="text-primary-lighter">Excepteur sint occaecat cupidatat non proident</p>
        <br>
        <p class="text-primary-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut ero labore et dolore magna aliqua.
        </p>
        <br>
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative text-center">
      <img class="img-fluid d-inline-block"
           src="./assets/images/stuff.png"
           alt="MarketPlace">
    </div>
  </div>
</section>

<section class="container my-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6 position-relative text-center">
      <img class="img-fluid d-inline-block"
           src="./assets/images/hands_shake.png"
           alt="Hand shake">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="px-5 py-3">
       <h2 class="font-weight-bold">Peer To Peer</h2>
        <br>
        <p class="text-primary-lighter">Excepteur sint occaecat cupidatat non proident</p>
        <br>
        <p class="text-primary-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut ero labore et dolore magna aliqua.
        </p>
        <br>
      </div>
    </div>
  </div>
</section>

<section class="container my-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="px-5 py-3">
       <h2 class="font-weight-bold">CrowdFounding</h2>
        <br>
        <p class="text-primary-lighter">Excepteur sint occaecat cupidatat non proident</p>
        <br>
        <p class="text-primary-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut ero labore et dolore magna aliqua.
        </p>
        <br>
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative text-center">
      <img class="img-fluid d-inline-block"
           src="./assets/images/money_offer.png"
           alt="Offer">
    </div>
  </div>
</section>

<section class="container my-5 py-5">
  <div class="row">
    <div class="col-12 col-md-6 position-relative text-center">
      <img class="img-fluid d-inline-block"
           src="./assets/images/monitor.png"
           alt="Monitor">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="px-5 py-3">
       <h2 class="font-weight-bold">Monitoring</h2>
        <br>
        <p class="text-primary-lighter">Excepteur sint occaecat cupidatat non proident</p>
        <br>
        <div>
        <div class="my-3 text-primary font-weight-bold"><i class="md-icon material-icons mr-3">check</i> Cost</div>
        <div class="my-3 text-primary font-weight-bold"><i class="md-icon material-icons mr-3">check</i> Profit</div>
        <div class="my-3 text-primary font-weight-bold"><i class="md-icon material-icons mr-3">check</i> Priority</div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>

<div style="background: url('./assets/images/cta.png'); background-size: cover" class="position-relative">
  <div style="position: absolute; top:0; z-index: -1; right:0; bottom:0; left:0; background: #a6a7a6;"></div>
  <section class="container py-5 my-5 position-relative">

    <div class="container pb-5">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center font-weight-bold my-5 text-white">
            Start your saving account right now!<br>
            Save your future!</h2>
          <div class="text-center">
            <button class="btn btn-outline-light py-2 px-4" routerLink="/registration" routerLinkActive="active">
              Sign Up
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
