///
/// Colors
///
//$primary: #1e70d4;
//#BCE0FD
$secondary: #11a5fb;
//$danger: #ee3759;

$grey: #8c8c8c;
$grey-light: #929295;

///
/// Body
///
$body-font-size: 16px;

///
/// Input
///
$text-input-bg: tranparent;
$text-input-color: #2699FB;
$text-input-active-color: #000;
$text-input-secondary: #929295;
$text-input-active-secondary: $secondary;

/// Slide menu
$slide-menu-bg: $primary;
